

.selections.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
}

#rock,
#paper,
#scissors {
  margin: 2%;
  font-size: 6rem;
  background-color: rgba(216, 191, 143, 0.664);
  border-radius: 10px;
}